//
   Created by Ajay Arjun on 11/23/2016.
#div
    //button.button-style(ng-click='appDetails()') Click To Start
    #an-fiv
    ul(ng-repeat='item in items')
        li(id='list') {{item.pk}}&nbsp;&nbsp;&nbsp;{{item.AGE}}&nbsp;&nbsp;&nbsp;{{item.SEX}}&nbsp;&nbsp;&nbsp;{{item.NATIONAL_PROVIDER_ID}}

