//
   Created by Ajay Arjun on 11/23/2016.
#div
    //button.button-style(ng-click='appDetails()') Click To Start
    #an-fiv
    ul(ng-repeat='item in items')
        li(id='secon') {{item._id+1}} {{item.name}}

