doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Angular
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    body
        div(ng-app='myApp', ng-controller='myCtrl')
            p Today's welcome message is:
            button(ng-click='click()') Calculate
            h1 {{myWelcome}}
        script.
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope, $http) {
                $scope.click = function () {
                    $http.get("https://cse5335-axb3015.herokuapp.com/json")
                            .success(function (response) {
                                $scope.myWelcome = response;
                            });
                }
            });
