//
   Created by Ajay Arjun on 10/2/2016.
doctype html
html
    head
        title my jade template
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js")
    body
        h5 Hello #{name} Click the button below to load the json data from server
        div(ng-app='myApp', ng-controller='myCtrl')
            button(ng-click='click()') FETCH JSON
            table
                th Data
                tr(ng-repeat='person in mydata')
                    td {{person}}
        script(src="/public/js/app.js")
