//
   Created by Ajay Arjun on 10/2/2016.
doctype html
html(ng-app='myApp')
    head
        title my jade template
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js")
        script(src="https://www.gstatic.com/charts/loader.js")
        script(type='text/javascript').
            google.charts.load('current');
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.get("https://cse5335-axb3015.herokuapp.com/graphdata", function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                    response = data;

                });
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                for (r in response) {
                    data.addRow([response[r].label, response[r].count]);
                }
                var options = {
                    'title': 'How Much Pizza I Ate Last Night',
                    'width': 500,
                    'height': 300
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }

    body
        h5 Hello #{name} Click the button below to load the json data from server
        div( ng-controller='myCtrl')
            button(ng-click='click()',ng-hide="mydata.length") FETCH JSON
            table(ng-show="mydata.length",border="1")
                th firstName
                th lastName
                th age
                tr(ng-repeat="person in mydata")
                    td {{person.firstName}}
                    td {{person.lastName}}
                    td {{person.age}}
            h1(ng-show="!mydata.length") Click Button To Load Data
        div(id="vis_div")
        script(src="/public/js/app.js")


