.logo {
    padding: 10px;
    margin-right: 10px;
    font-size: 35px;
    font-family: fantasy;
}

#headerWrapper {
    width: 100%;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    margin-left: -123px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

#map-div {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

#div {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}


#main-div {
    font-size: 13px;
    font-family: sans-serif;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    border: solid 1px;
    margin-right: 30px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.button-style {
    color: #fff;
    background-color: #428bca;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    padding: 8px;
}


.ng-enter {
    -webkit-transition: 2s;
    transition: 2s;

    margin-left: 100%;
}

.ng-enter-active {
    margin-left: 0;
}

.ng-leave {
    -webkit-transition: 2s;
    transition: 2s;

    margin-left: 0;
}

.ng-leave-active {
    margin-left: 100%;
}

.ng-move {
    -webkit-transition: 1s;
    transition: 1s;

    background: gold;
}

.ng-move-active {
    background: #fff;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}
#list
{
    list-style-type: none;
}
.ng-hide-add.ng-hide-add-active {
    position: absolute;
    bottom: 0;
}

body {
    overflow:hidden;
}