//
   Created by Ajay Arjun on 10/2/2016.
doctype html
html(ng-app='MyApp')
    head
        title my jade template
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js")
        script(src="https://www.gstatic.com/charts/loader.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCix6eTqyWMd0mNZwoHcjfGpQcCiLiw9js")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
        script(src="/public/js/app.js")
        link(rel="stylesheet", href="/public/css/app.css")

    body

        #header-wrapper(ng-controller='header')
            span.logo.pull-left {{appDetails.title}}
            span.tagline.pull-left {{appDetails.tagline}}
            .nav-wrapper.pull-left
                ul.nav.nav-pills
                    li.active
                        a(href='#/table') Table
                    li
                        a(href='#/graph') Graph
                    li
                        a(href='#/map') Graph
        br
        br
        br
        br
        div(ng-view)