<div class="pull-left">
<table ng-show="mydata.length" border="1">
<th>firstName</th>
<th>lastName</th>
<th>age</th>
<tr ng-repeat="person in mydata">
<td>{{person.firstName}}</td>
<td>{{person.lastName}}</td>
<td>{{person.age}}</td>
</tr>
</table>
</div>